<h1>Sign In</h1>
<%= form_tag :session do %>
  <div>
    <%= label_tag :email %><br />
    <%= email_field_tag :email, nil, autofocus: true %>
  </div>
  <div>
    <%= label_tag :password %><br />
    <%= password_field_tag :password, nil %>
  </div>
  <div>
    <%= submit_tag "Sign In" %>
  </div>
<% end %>
<p>Don't have an account yet? <%= link_to 'Sign Up', signup_path %></p>
