<header class="navbar navbar-default">
  <div class="container">
     <%= link_to "RSS-Dictator", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
         <% unless current_user %>
           <li><%= link_to "Sign In", signin_path %></li>
           <li><%= link_to "Sign Up", signup_path %></li>
         <% else %>
           <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
           <li><%= link_to "Sign Out", signout_path %></li>
         <% end %>
      </ul>
    </nav>
  </div>
</header>
